/* default setting */
html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* Stretch the space to match the window */
    height: 100%;
}

body {
    /* Stretch the space to match the window */
    height: 100%;
}

/* Outer layer reset */
header, main, footer {
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    height: 550px;
}

#display {
    height: 20px;
    text-align: right;
}


#grid {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.row {
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
    width: 100%;
}

.button {
    flex: 1;
    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
}